.login-form {
  width: 300px;
  margin: 0 auto 50px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.login-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #8bc34a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #689f38;
}

.login-btn:active {
  background-color: #3e8e41;
}
